@import "./variable.scss";

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

#app {
  position: relative;
  height: 100%;
  width: 100%;
}

.roll-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
}

.roll-scroll::-webkit-scrollbar-thumb {
  background: #8a9099;
  border-radius: 8px;
}

.roll-scroll::-webkit-scrollbar-track {
  border-radius: 8px;
}

.toolbar .el-popper,
.el-popover {
  margin: 0;
  margin-top: 2.5rem;
  margin-left: 0.6rem;
  padding: 0;
  box-shadow: none;
  text-shadow: none;
  border: none;
  border-radius: inherit;
  background: rgba(0, 0, 0, 0);
}

#workplace-camera {
  div {
    background-color: transparent !important;

    div {
      background-color: transparent !important;
    }
  }

  /deep/ video {
    width: auto !important;
    object-fit: contain;
  }
}

.profile-popover {
  min-width: 70px;

  .menu {
    padding: 8px;
    background-color: #f5f5fa;
    border: 1px solid #f5f5fa;
    border-radius: 4px;

    li {
      text-align: center;
      font-size: 12px;
      cursor: pointer;
      color: #8a8a99;
      padding: 8px;
      box-sizing: border-box;

      &:hover {
        color: #111;
      }
    }
  }
}

.m-control-popover {
  padding: 0.8rem 0.4rem;
  margin: 0;

  @include themeify {
    background: themed("background_color3");
    border: 1px solid themedOpacity("color_opposite", 0.1);
  }

  .popper__arrow::after {
    @include themeify {
      border-left-color: themed("background_color3");
    }
  }

  .popper__arrow {
    @include themeify {
      border-left-color: themedOpacity("color_opposite", 0.1);
    }
  }
}

.img-upload-wrap {
  /deep/ .el-upload-list__item {
    display: none;
  }

  /deep/ .class-upload {
    height: 100px;

    /deep/ .el-upload-list__item {
      display: inline-block !important;
    }

    /deep/ .el-upload {
      display: none;
    }
  }

  /deep/ .el-upload {
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;

    svg {
      position: relative;
      left: 0px;
      top: -28px;
    }
  }

  /deep/ .el-upload-list--picture-card .el-upload-list__item {
    width: 100px;
    height: 100px;
  }

  .el-upload-list__item.is-success {
    .el-upload-list__item-status-label {
      display: none;
    }
  }
}

.w-200 /deep/ .el-input__inner {
  width: 200px;
}

.w-320 /deep/ .el-input__inner {
  width: 320px;
}

.w-400 /deep/ .el-input__inner {
  width: 400px;
}

.hide {
  visibility: hidden;
}

.tx_board_canvas_wrap {
  @include themeify {
    background-color: themed("board_bg");
  }
}

//element dropdown
.el-popper /deep/ {
  .el-select-dropdown__list {
    background: #f5f5fa;
  }

  &[x-placement^="bottom"] .popper__arrow::after {
    border-bottom-color: #f5f5fa;
  }
}

//.el-pager
.el-pagination /deep/ {
  button:disabled {
    opacity: 0.5;
  }

  .el-icon {
    border: 1px solid #d0cfe6;
    border-radius: 4px;
    padding: 0.5625rem 0.75rem;
    margin-right: 8px;
    font-size: 0.75rem;
    font-weight: 400;
    color: #8a8a99;
  }

  .btn-prev {
    padding-right: 0;
  }

  .btn-next {
    padding-left: 0;
  }

  .el-icon-arrow-left:before {
    content: '上一页';
  }

  .el-icon-arrow-right:before {
    content: '下一页';
  }
}

.el-pager /deep/ {
  li {
    width: 32px;
    height: 32px;
    border: 1px solid #d0cfe6;
    border-radius: 4px;
    padding: 0;
    margin-right: 8px;
    font-size: 0.75rem;
    font-weight: 400;
    color: #8a8a99;

    &.active {
      background: #506efa;
      border-color: #506efa;
      color: #ffffff;
    }

    &.active+li {
      border-left: 1px solid #d0cfe6;
    }
  }
}

// dialog
.v-modal {
  opacity: 0.3;
}

.el-dialog {
  background: #ffffff;
  border-radius: 8px;
  margin-top: 0 !important;
  top: 50%;
  transform: translateY(-50%);

  .el-dialog__header {
    padding: 24px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #1a1b29;
  }

  .el-dialog__headerbtn {
    top: 16px;
    right: 16px;

    .el-dialog__close {
      color: #d0cfe6;
      font-size: 1.5rem;
    }
  }

  .el-dialog__body {
    padding: 0 24px 40px;
  }

  .el-dialog__footer {
    text-align: center;
  }
}

// message box
.el-message-box__wrapper {
  color: #1a1b29;

  .el-message-box {
    border-radius: 8px;
    padding-bottom: 30px;
    width: 550px;
  }

  .el-message-box__header {
    padding: 24px;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
  }

  .el-message-box__content {
    padding: 0 40px 24px 40px;
    font-size: 0.875rem;
  }

  .el-message-box__btns {
    padding: 0 32px;

    .el-button {
      border-radius: 4px;
      height: 40px;
      min-width: 72px;
    }

    button:nth-child(2) {
      margin-left: 1rem;
    }
  }

  .el-message-box__headerbtn {
    .el-message-box__close {
      color: #d0cfe6;
      font-size: 1.5rem;
    }
  }
}

// label on top form style
.el-form--label-top .el-form-item__label {
  font-size: 0.875rem;
  font-weight: 400;
  color: #1a1b29;
  line-height: 1.1875rem;
  padding-bottom: 8px;
}
.course-detail-dialog {
  .el-dialog {
    width: 750px;
  }
  .el-dialog__body {
    padding: 0 106px 0 44px;
  }
  .title-input {
    max-width: 300px;
  }
  .el-input__inner {
    height: 2.9375rem;
    line-height: 2.9375rem;
    color: #1a1b29;
    font-size: 0.875rem;
  }
  .class-time-range {
    display: flex;
    .el-form-item:last-child {
      margin-left: 32px;
    }
  }
  .el-select {
    width: 100%;
  }
  .el-textarea__inner {
    min-height: 88px !important;
  }
  .el-dialog__footer {
    padding-top: 18px;
  }
}