@import "./variable.scss";

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 16px;
}

#app {
  position: relative;
  height: 100%;
  width: 100%;
}

.roll-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
}

.roll-scroll::-webkit-scrollbar-thumb {
  background: #8a9099;
  border-radius: 8px;
}

.roll-scroll::-webkit-scrollbar-track {
  border-radius: 8px;
}

.toolbar .el-popper,
.el-popover {
  margin: 0;
  margin-top: 2.5rem;
  margin-left: 0.6rem;
  padding: 0;
  box-shadow: none;
  text-shadow: none;
  border: none;
  border-radius: inherit;
  background: rgba(0, 0, 0, 0);
}

#workplace-camera {
  div {
    background-color: transparent !important;

    div {
      background-color: transparent !important;
    }
  }

  /deep/ video {
    width: auto !important;
    object-fit: contain;
  }
}

.profile-popover {
  .menu {
    padding: 8px;
    background-color: #fff;
    border: 1px solid #ddd;

    li {
      text-align: left;
      font-size: 12px;
      cursor: pointer;
      color: rgb(121, 119, 119);
      padding: 8px;
      box-sizing: border-box;

      &.u-menu-bottom {
        border-top: 1px solid #eaeaea;
      }

      &:hover {
        background-color: rgba(192, 191, 191, 0.2);
        color: #111;
      }
    }
  }
}

.m-control-popover {
  padding: 0.8rem 0.4rem;
  margin: 0;

  @include themeify {
    background: themed("background_color3");
    border: 1px solid themedOpacity("color_opposite", 0.1);
  }

  .popper__arrow::after {
    @include themeify {
      border-left-color: themed("background_color3");
    }
  }

  .popper__arrow {
    @include themeify {
      border-left-color: themedOpacity("color_opposite", 0.1);
    }
  }
}

.img-upload-wrap {
  /deep/ .el-upload-list__item {
    display: none;
  }

  /deep/ .class-upload {
    height: 60px;

    /deep/ .el-upload-list__item {
      display: inline-block !important;
    }

    /deep/ .el-upload {
      display: none;
    }
  }

  /deep/ .el-upload {
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;

    svg {
      position: relative;
      left: 0px;
      top: -45px;
    }
  }

  /deep/ .el-upload-list--picture-card .el-upload-list__item {
    width: 60px;
    height: 60px;
  }

  .el-upload-list__item.is-success {
    .el-upload-list__item-status-label {
      display: none;
    }
  }
}

.w-200 /deep/ .el-input__inner {
  width: 200px;
}

.w-320 /deep/ .el-input__inner {
  width: 320px;
}

.w-400 /deep/ .el-input__inner {
  width: 400px;
}

.hide {
  visibility: hidden;
}

.tx_board_canvas_wrap {
  @include themeify {
    background-color: themed("board_bg");
  }
}

//element dropdown
.el-popper /deep/ {
  .el-select-dropdown__list {
    background: #f5f5fa;
  }

  &[x-placement^="bottom"] .popper__arrow::after {
    border-bottom-color: #f5f5fa;
  }
}