$themes: (
  light: (
    font_color1: #3dafbaff,
    font_color2: #a8a8a8,
    background_color1: #eeeeee,
    background_color2: rgb(255, 255, 255),
    background_color3: rgb(255, 255, 255),
    background_color4: #eeeeee,
    background_color5: #3dafbaff,
    background_color6: rgb(224, 224, 224),
    toolbar_icon: rgb(238, 238, 238),
    toolbar_active: rgb(131, 148, 160),
    active_icon: rgb(224, 224, 224),
    border_color1: #ccc,
    color_like: rgb(255, 255, 255),
    color_opposite: rgb(0, 0, 0),
    test: rgb(238, 238, 238),
    toolbar_bg: rgb(255, 255, 255),
    primary: #3dafbaff,
    primary2: #3dafbaff,
    bg_1: #3dafbaff,
    board_bg: #fff,
    /*          :*/
  ),
  dark: (
    font_color1: rgb(226, 222, 222),
    font_color2: #7f7f7f,
    background_color1: #1a1b1d,
    background_color2: #292b2e,
    background_color3: rgb(41, 43, 46),
    background_color4: rgb(41, 43, 46),
    background_color5: rgb(24, 25, 27),
    background_color6: rgb(30, 33, 37),
    toolbar_icon: rgb(255, 255, 255),
    toolbar_active: rgb(48, 49, 51),
    active_icon: rgb(224, 224, 224),
    border_color1: #141414,
    color_like: rgb(0, 0, 0),
    color_opposite: rgb(255, 255, 255),
    test: rgb(238, 238, 238),
    toolbar_bg: rgb(34, 34, 34),
    primary: #3dafbaff,
    primary2: rgb(10, 129, 140),
    bg_1: rgb(65, 65, 65),
    board_bg: rgba(0, 0, 0, 0.07)
  )
);

@mixin themeify {
  @each $theme-name, $theme-map in $themes {
    $theme-map: $theme-map !global;

    body[data-theme="#{$theme-name}"] & {
      @content;
    }
  }
}

@function themed($key) {
  $color: map-get($theme-map, $key);
  @return $color;
}

@function themedOpacity($key, $opacity) {
  $color: map-get($theme-map, $key);
  @return rgba($color, $opacity);
}

$white: #ffffff;
$black: #fcfdff;
$shadow: 0px 2px 4px 0px rgba(40, 120, 255, 0.08),
  0px 0px 4px 1px rgba(0, 0, 0, 0.12);
