$white: #ffffff;
$black: #212224;

// chatroom
$chatroom-bg: #323338;
$chatroom-head: #8a9099;
$chatroom-msg-right: #dcebeb;
$chatroom-msg-right-bg: #0a818c;
$chatroom-msg-left: #212224;
$chatroom-msg-left-bg: #8a9099;
