$themes: (
  light: (
    font_color1: #1a1b29,
    font_color2:#8a8a99,
    background_color1: #f5f5fa,
    background_color2: rgb(255, 255, 255),
    background_color3: rgb(255, 255, 255),
    background_color4: #eeeeee,
    background_color5:#f5f5fa,
    background_color6:#27283d,
    toolbar_icon: rgb(238, 238, 238),
    toolbar_active: rgb(131, 148, 160),
    active_icon: rgb(224, 224, 224),
    border_color1: #ccc,
    color_like: rgb(255, 255, 255),
    color_opposite: rgb(0, 0, 0),
    test: rgb(238, 238, 238),
    toolbar_bg: #506efa,
    primary: #506EFA,
    primary2: #506EFA,
    bg_1: #506EFA,
    board_bg: #1a1b29,
    /*          :*/
  ),
  dark: (
    font_color1: #ffffff,
    font_color2: #8a8a99,
    background_color1: #1a1b1d,
    background_color2: #27283d,
    background_color3:#27283d,
    background_color4: rgb(41, 43, 46),
    background_color5: #1a1b29,
    background_color6: #f5f5fa,
    toolbar_icon: rgb(255, 255, 255),
    toolbar_active: rgb(48, 49, 51),
    active_icon: rgb(224, 224, 224),
    border_color1: #141414,
    color_like: rgb(0, 0, 0),
    color_opposite: rgb(255, 255, 255),
    test: rgb(238, 238, 238),
    toolbar_bg: #506efa,
    primary: #506EFA,
    primary2: rgba(80,110,250,1),
    bg_1: rgb(65, 65, 65),
    board_bg: rgba(0, 0, 0, 0)
  )
);

@mixin themeify {
  @each $theme-name, $theme-map in $themes {
    $theme-map: $theme-map !global;

    body[data-theme="#{$theme-name}"] & {
      @content;
    }
  }
}

@function themed($key) {
  $color: map-get($theme-map, $key);
  @return $color;
}

@function themedOpacity($key, $opacity) {
  $color: map-get($theme-map, $key);
  @return rgba($color, $opacity);
}

$white: #ffffff;
$black: #fcfdff;
$shadow: 0px 2px 4px 0px rgba(40, 120, 255, 0.08),
  0px 0px 4px 1px rgba(0, 0, 0, 0.12);
